packaging/rpm/BUILD
packaging/rpm/BUILDROOT
packaging/rpm/RPMS
packaging/rpm/SOURCES/*
packaging/rpm/SRPMS
ccolor_*.deb
ccolor_*.dsc
ccolor_*.tar.gz
ccolor_*.buildinfo
ccolor_*.changes
packaging/build/*
packaging/debian/.debhelper/
packaging/debian/ccolor/
packaging/debian/*.substvars
packaging/debian/debhelper-build-stamp
packaging/debian/files
packaging/*.rpm
packaging/*.deb
packaging/snap/prime/
packaging/snap/*.snap
packaging/snap/.craft/packed-files

